[submodule "vim/bundle/dart-vim-plugin"]
	path = vim/bundle/dart-vim-plugin
	url = git://github.com/dart-lang/dart-vim-plugin.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
